################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug/net6.0/Developer-ToolboxTests.sourcelink.json
/.vs/Developer-ToolboxTests/FileContentIndex/897f7a63-dc02-498f-8897-5b8ae2e02b45.vsidx
